body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
    background-color: white;
    max-width: 100ch;
    margin: 0 auto;
    padding: 1rem;
}
